* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/*COMMON*/
body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #33475b;
}

a {
    text-decoration: none;
    font-size: 14px;
}

.container {
    width:71%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.col {
    float: left;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav a {
    color: #33475b;
    font-weight: 500;
}

.button {
    background-color: #fd7c60;
    border: 1px solid #fd7c60;
    padding: 17px 30px;
    border-radius: 5px;
    color: white;

    display: inline-block;
}

.page-h2 {
    font-size: 28px;
    font-weight: 700;
}

.page-h3 {
    font-size: 22px;
    font-weight: 750;
}

.sub-h3 {
    font-size: 17px;
}

.uppercase {
    text-transform: uppercase;
}

.page-paragraph {
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
}

.page-smaller-text {
    font-size: 11px;
}

.software-banner {
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 8px lightgrey;
}

.presentation-img img {
    height: 95px;
    width: auto;
    display: block;
}

.main-features {
    list-style-type: none;
}

.main-features li {
    font-size: 14px;
}

.col-divider {
    width: 100%;
    border-bottom: 3px solid #9da5a9;
}

.check-entity {
    color: #fd7c60;
    margin-right: 10px;
}

.learn-and-grow-stats-number {
    font-size: 35px;
    font-weight: 900;
}

.plus-symbol {
    position: relative;
    /* line-height: 28px; */
    font-size: 23px;
    font-weight: 400;
    /* vertical-align: middle; */
    /* display: inline-block; */
    /* top: 50%; */
    /* right: 0; */
    bottom: 5px;
    left: -5px;
}

/*NAV*/
/*nav-top*/
.nav-top {
    background-color: #f4f9fd;
    border-bottom: 2px solid #b9c3cb;
}

.nav-menu {
    width: 50%;
    padding: 18px 0;
}

.nav-menu-right {
    text-align: right;
}

/*La parte float di sinistra ha padding personalizzati per ottenere il design
giusto. Ho usato ID perché tanto non tornano più e in caso di nuova
pagina rimarrebbero comunque uguali*/

#language-selector {
    padding-right: 18px;
    border-right: 2px solid #b9c3cb;
}

#contact-us {
    padding-left: 18px;
}

#search {
    color: #0ba8c0;
}

/*Anche qui un ID siccome è unico ma uguale in caso di nuova pagina*/
#login {
    color: #fd7c60;
    background-color: white;
    border: 1px solid #fd7c60;
    border-radius: 5px;
    padding: 7px;
    margin: 0 18px;
}

.nav-top .button {
    padding: 7px;
}

/*nav-bottom*/
.logo-container {
    width: 18%;
}

.nav-bottom .nav-menu-right li {
    margin-left: 18px;
}

.link-icon-space {
    padding-left: 10px;
}
/*END NAV*/

/*HEADER*/
.header-background {
    height: 653px;
    background-color: #fff6ef;
    background-image: url("../img/jumbotron.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 90%;

    position: relative;
}

.header-container {
    width: 51%;
}

.header-container h1 {
    font-weight: 800;
    font-size: 45px;
    padding-top: 48px;
}

.header-container .page-paragraph {
    padding: 25px 0;
}

.header-container .page-smaller-text {
    padding-top: 25px;
}

.header-divider {
    height: 70px;
    width: 100%;
    background-color: #afebe4;
    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;

    position: absolute;
    bottom: 0;
    left: 0;
}
/*HEADER*/

/*MAIN*/
/*section software presentation*/
.software-presentation {
    background-color: #f4f9fd;
}

/*motto*/
.motto {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    padding: 35px 0;
}

.motto img {
    height: 150px;
    width: auto;
}

.motto .page-h2 {
    padding-bottom: 25px;
}

/*presentation-row*/
.presentation-row {
    padding: 75px 90px;
}

.two-col {
    margin: 0 auto;
}

.presentation-row-left {
    width: 25%;
}

.presentation-row-right {
    width: 75%;
}

.presentation-img {
    padding-bottom: 10px;
}

.presentation-row-right .page-paragraph {
    padding: 20px 0 15px 0;
}

.presentation-row-divider h3, 
.presentation-row-divider .col-divider,
.presentation-row .main-features li {
    display: inline-block;
}

.presentation-row-divider .col-divider {
    width: 70%;
    margin-left: 43px;
    vertical-align: middle;
}
.presentation-row .main-features {
    padding-top: 20px;
}

.presentation-row .main-features li {
    margin-right: 15px;
}

/*presentation-col*/
.presentation-col {
    padding: 35px 0;
}

.three-col-item {
    width: 30%;
    padding: 20px 30px;
    text-align: center;
}

.three-col-centered {
    width: 30%;
    margin: 0 5%;
}

.three-col-item .presentation-img img{
    margin: 0 auto;
}

.presentation-col .main-features li {
    text-align: left;
}

.presentation-col .page-h3 {
    padding-top: 10px;
    padding-bottom: 25px;
}

.presentation-col .col-divider {
    padding-top: 60px;
}

.presentation-col .sub-h3 {
    padding: 25px 0;
}

.presentation-col .main-features {
    padding-bottom: 30px;
}

/*section learn and grow*/
.learn-and-grow {
    background-color: #00b2af;
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 80px;
}

.learn-and-grow-intro .page-h2 {
    padding-bottom: 25px;
}

.hubspot-stats {
    padding-top: 40px;
}
.learn-and-grow-col {
    width: 25%;
}

.learn-and-grow-img {
    padding: 15px 0;
    margin: 0 auto;
}

.learn-and-grow-img img {   
    width: auto;
    height: 25%;
}

.col-border-right {
    border-right: 1px solid white;
}

.col-border-bottom {
    border-bottom: 1px solid white;
}

.learn-and-grow-col .page-smaller-text {
    padding-top: 15px;
    padding-bottom: 20px;
}
/* END MAIN */